@media screen and (max-width: 750px){

 /* body{
     background-color: brown;
      */
body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.sec-1,.sec-2,.sec-3,.sec-4,.sec-5,.sec-6{
    overflow: hidden;
}
      h2 {
        font-size: 4rem;
    }
    
    p {
        font-size: 2rem;

    }
    
    a {
        font-size: 2rem;

    }
    
    span.logo {
        font-size: 7rem;
        opacity: 0.9;

    }
    
    button {
        font-size: 2rem;
    }
    
    .sec-1 {
        height: 100vh;
        padding: 2rem 0.5rem;
    }
 
   
    .navbar {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        top: 0;
        left: 0;
        right: 0;
        background-color: #08AEEA;
background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
        /* background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */

        color: rgb(43, 43, 43);
        height: 110vh;
        z-index: 2;
        clip-path: circle(0rem at 93.5% 5.5%);
       transition: all 0.8s ease-in-out;
        /* display: none; */
        
    }
    .navbar.show{
        clip-path: circle(100rem at 93.5% 5.5%);
       
        transition: all 0.8s ease-in;
    }
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 2rem;
        opacity: 0;
        transition: all 0.6s ease-in 0.2s;
    }
    .nav a {
        width: 100vw;
        color: #ffffff;
   
        padding: 1rem 0rem;
        position: relative;
        font-size: 3rem;
        text-align: center;
        transition: all 0.3s ease-in;
    }
    .nav.revel{
        opacity: 1;
        transition: all 0.4s ease-in 0.2s;
    }
    .nav a::before {
        content: none;
    }
    .nav a:hover {
        color: rgba(0, 0, 0, 0.836);
        background-color: #ffffff34;
        transition: all 0.2s ease-in;
    }
    .nav a:hover {
        opacity: 1;
    }
    .nav a.active{
        color: rgba(0, 0, 0, 0.836);
        background-color: #ffffff34;
        transition: all 0.2s ease-in;
    }
/* ----------------------------------------- */
.hamburger{
    display: inline-block;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 3;
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.hamburger .m-line{
    width: 4rem;
    height: 0.5rem;
    background-color: #ffffff !important;
    box-shadow: 0px 0px 5px #fdfdfd;
    display: block;
    border-radius: 4rem;
    margin: 8px auto;
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }

  
  /* #hamburger-9{
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  } */
  
  .hamburger.is-active{
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  /* #hamburger-9:before{
    content: "";
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border-radius: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  #hamburger-9.is-active:before{
    border: 5px solid #ecf0f1 !important;
  } */
  
  .hamburger.is-active .m-line{
    width: 35px;
  }
  
  .hamburger.is-active .m-line:nth-child(2){
    opacity: 0;
  }
  
  .hamburger.is-active .m-line:nth-child(1){
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
  }
  
  .hamburger.is-active .m-line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
  }





/* ------------------------------------------ */




    header {
        height: 100vh;
        justify-content: center;
        align-items: flex-start;
        padding-left: 2rem;
    }
    
    header h1 {
        font-size: 6rem;
        width: 90vw;
        line-height: 7rem;
        text-align: left;

    }
    
    header p {
        width: 90vw;
        text-align: left;
      
    }
    

    

    

    
    /* section-2 */
    .sec-2 {
        padding: 2rem 0.5rem;
    }
    
    .sec-2 img {
        width: 20rem;
        /* height: 20rem; */
        object-fit: cover;
    }
    
  
    
    .sec-2 .features {
        flex-wrap: wrap;
    }
    
    .sec-2 .features .fea {
        flex-wrap: wrap;
        align-items: center;
        margin-top: 3.5rem;
    }
    
    .sec-2 .features .fea .content {
        margin-left: 0;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
    .sec-2 .features .fea .content p {
        width: 80vw;
        height: 30vw;
        text-align: justify;
    }
    
    .about-us {

        justify-content: space-around;
        margin: 5rem 0;
        flex-wrap: wrap;

    
    }
    
    .about-us img {
        width: 70vw;
        height: 70vw;
    }
    

    
    
    
    .about-us .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* height: 100%; */
        margin-left: 0rem;
        text-align: center;
    
    }
    .about-us .content p{
        width: 80vw;
        text-align: justify;
        overflow: hidden;
    }
 
    /* skill bars */
    .about-us .content .skill{
        width: 90%;
    }


    /* portfolio */
    .short {
        width: 8%;
        height: 0.2rem;
        box-shadow: none;
        border-radius: 0;
        position: relative;
        margin-bottom: 2rem;
    }
    
    .short:before {
        content: 'Something about us';
        position: absolute;
        width: max-content;
        top: -1rem;
        bottom: 0;
        /* transform: translateY(-50%); */
        right: -15rem;
        font-size: 1.5rem;
        text-transform: lowercase;
        opacity: 0.8;
    }
    
    /* section-3 */
    
    .sec-3 {
        padding: 5rem 0.5rem;
      
    }
    
    
    .port {
        margin-top: 1rem;

    }
    
  
    
    /* image gallery */

    
    .images .img {
        width: 30rem;
        height: 30rem;
    }


    
 

    .port-btn {
        padding: 1.5rem 4rem;
        box-shadow: 3px 3px 10px #1f1f1fb2;
    }
    
    /* section-4 feedback */
    
    .sec-4 {
        padding: 2rem 2rem;       
    }

    .feedback {
        justify-content: center;
        align-items: center;
    }
    

    
      
    .quotes p {
        line-height: 2.5rem;
        width: 90vw;
        font-size: 2rem;
        text-align: center;
    }
    
  
    
    /* section-5 */
    
    .sec-5 {
        margin-top: 3rem;
        padding: 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sec-5>h2 {
        font-size: 5rem;
    }
    
    .cards {
        margin-top: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .price {
        width: 80vw;
        height: 70vh;
        margin: 3rem 0rem;
        flex-basis: 80vw;
    
    }
      
    /* section-6 */
    .sec-6 {
        margin-top: 5rem;
        padding: 5rem 2rem;
        height: auto;
    }
    
    .sec-6::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgb(11, 219, 163);
        background: linear-gradient(73deg, rgba(11, 219, 163, 1) 0%, rgba(138, 11, 219, 1) 100%);
        opacity: 0.9;
        z-index: -1;
    }
    
    .sec-6 h2 {

        text-align: center;
    }
    .sub{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sub input {
        margin: 0.5rem 0; 
        
    }

    .sub .name {
        width: 80vw;
    
    }
    .sub .mail {
        width: 80vw;
    }
    .sub button {
        margin: 1rem 0;
        text-transform: uppercase;
    
    }


    
    .social {
        
        margin-top: 5rem;
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    
    
    .footer {
        padding: 2rem 2rem;
       flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }
    
    .footer a {
        margin: 1rem 0;
    }

}
